# ======================================================================
#
# Space Warps Analysis Pipeline configuration file.
#
# Lines starting with '#' are ignored; all other lines must contain a
# Name : Value pair to be read into the parameters dictionary.
#
# This file is part of the Space Warps project, and is distributed 
# under the GPL v2 by the Space Warps Science Team.
# http://spacewarps.org/
# 
# SWAP configuration is modelled on that written for the
# Pangloss project, by Tom Collett (IoA) and Phil Marshall (Oxford). 
# https://github.com/drphilmarshall/Pangloss/blob/master/example/example.config
#
# ======================================================================

survey: GZ2_run7

start: 2009-02-16_00:00:00

end: 2009-03-16_00:00:00

increment: 1.0

bureaufile: None

samplefile: None

MLbureaufile: None

MLsamplefile: None

metadatafile: GZ2_run5_metadata.pickle

stage: STAGE

verbose: False

one_by_one: False

report: True

plot: False

trunk: None

dir: /home/oxymoronic/research/gzcodez/GZsimulation/SpaceWarps/analysis/GZ2_2009-02-16_00:00:00

repickle: True

# ----------------------------------------------------------------------

supervised: False

supervised_and_unsupervised: True

initialPL: 0.55
initialPD: 0.55

agents_willing_to_learn: True

a_few_at_the_start: 0

N_per_batch: 3000000

hasty: True

skepticism: 0

use_marker_positions: False

detection_threshold: 0.99

rejection_threshold: 0.004

prior: 0.3

random_file: random_state.pickle

# ----------------------------------------------------------------------

machine: False

training_sample: Best

machine_threshold: 0.9

evaluation_metrics: ['ACC', 'TPR', 'CONT_F']

evaluation_criteria: [0.8, 0.87, 0.15]

# ----------------------------------------------------------------------

dbspecies: MongoDB

# ======================================================================
